.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.categoryItem{
    padding:8px 23px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.academics{
    background-color: #ffdbd6;
}
.categoryItem.fashion{
    background-color: #fff2bd;
}
.categoryItem.food{
    background-color: #daf2ff;
}
.categoryItem.random{
    background-color: #e3ffdd;
}
.categoryItem.travel{
    background-color: #f5e4ff;
}

.categoryItem.sports{
    background-color: #ffd9f6;
}
