.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.categoryItem{
    padding:8px 23px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.academics{
    background-color: #e3ffdd;
}
.categoryItem.social{
    background-color: #fff2bd;
}
.categoryItem.mentalHealth{
    background-color: #ffd9f6;
;
}

.categoryItem.findYourFocus{
    background-color: #daf2ff;
}


