.item{
    display:flex;
    align-items: center;
    gap:20px;
}

.imageContainer{
    flex:1;
    position: relative;
    aspect-ratio: 1/1;
}

.textContainer{
    flex:4;
    display:flex;
    flex-direction: column;
    gap:4px;
}

.image{
    border-radius: 50%;
    border:3px solid lightgrey;
    object-fit: cover;
}
.postTitle{
    font-size: 16px;
    font-weight: 500;
    color:var(--softtextColor);
}

.date{
    color:grey;
}
.detail{
    font-size: 12;
    gap:10px;
}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    width: max-content;
    color:white;
}

.category.academics{
    background-color: #e3ffdd;
}
.category.social{
    background-color: #fff2bd;
}
.category.mentalHealth{
    background-color: #ffd9f6;
;
}

.category.findYourFocus{
    background-color: #daf2ff;
}
.items{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap:35px;

}